<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

    <th:block th:fragment="innerContentFragment">

        <!-- ===== Configure Step Start ===== -->
        <div class="bg-white dark:bg-gray-800 px-10 py-6" data-step-index="1">
            <div class="container bg-white dark:bg-gray-800 rounded">
                <div class="xl:w-full border-b border-gray-300 dark:border-gray-700 py-5 bg-white dark:bg-gray-800">
                    <div class="flex w-11/12 w-full mx-0 items-center">
                        <p class="text-lg text-gray-800 dark:text-gray-100 font-bold">Build step - 1. 소스코드 관리</p>
                        <div class="ml-2 cursor-pointer text-gray-600 dark:text-gray-400">
                            <img class="dark:hidden" src="https://tuk-cdn.s3.amazonaws.com/can-uploader/simple_form-svg4.svg" alt="info">
                            <img class="dark:block hidden" src="https://tuk-cdn.s3.amazonaws.com/can-uploader/simple_form-svg4dark.svg" alt="info">
                        </div>
                        <div class="ml-auto">
                            <div class="toggle-container w-16 h-6 flex items-center bg-gray-300 rounded-full p-1 duration-300 ease-in-out cursor-pointer" data-is-on="false">
                                <div class="toggle-circle bg-white w-6 h-6 rounded-full shadow-md transform duration-300 ease-in-out"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="w-full">
                    <div class="w-full xl:mx-0">
                        <div class="mt-8 flex flex-col w-full">
                            <label for="projectConfigure-stepType-1" class="pb-2 text-sm font-bold text-gray-800 dark:text-gray-100">Step type (유형)</label>
                            <div class="relative inline-block w-full">
                                <select id="projectConfigure-stepType-1" class="appearance-none border border-gray-300 dark:border-gray-700 pl-3 pr-10 py-3 shadow-sm rounded text-sm focus:outline-none focus:border-indigo-700 bg-transparent placeholder-gray-500 text-gray-600 dark:text-gray-400 w-full" disabled>
                                    <option value="SCM" selected>1. SCM</option>
                                    <option value="BUILD">2. BUILD</option>
                                    <option value="DEPLOY">3. DEPLOY</option>
                                    <option value="COMMAND">4. COMMAND</option>
                                </select>
                                <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-600">
                                    <svg class="w-4 h-4 fill-current" viewBox="0 0 20 20">
                                        <path d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414L10 13.414l-4.707-4.707a1 1 0 010-1.414z" clip-rule="evenodd" fill-rule="evenodd"></path>
                                    </svg>
                                </div>
                            </div>
                        </div>
                        <div class="mt-8 flex flex-col w-full">
                            <label for="projectConfigure-scm" class="pb-2 text-sm font-bold text-gray-800 dark:text-gray-100">SCM Config (소스코드 가져오기)</label>
                            <div class="relative inline-block w-full">
                                <select id="projectConfigure-scm" class="appearance-none border border-gray-300 dark:border-gray-700 pl-3 pr-10 py-3 shadow-sm rounded text-sm focus:outline-none focus:border-indigo-700 bg-transparent placeholder-gray-500 text-gray-600 dark:text-gray-400 w-full">
                                    <option value="SVN">SVN</option>
                                    <option value="GIT">GIT</option>
                                </select>
                                <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-600">
                                    <svg class="w-4 h-4 fill-current" viewBox="0 0 20 20">
                                        <path d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414L10 13.414l-4.707-4.707a1 1 0 010-1.414z" clip-rule="evenodd" fill-rule="evenodd"></path>
                                    </svg>
                                </div>
                            </div>
                            <p id="loadingText" class="font-xs mt-2 ml-2" style="display: none;">Loading<span id="dots"></span></p>
                            <p id="healthCheckMessage" class="mt-2 ml-2 text-sm text-green-500" style="display: none;">connection successful.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container w-full mt-6">
                <div class="w-full py-4 sm:px-0 bg-white dark:bg-gray-800 flex justify-end">
                    <button role="button" aria-label="cancel form" class="bg-gray-200 focus:outline-none transition duration-150 ease-in-out hover:bg-gray-300 dark:bg-gray-700 rounded text-indigo-600 dark:text-indigo-600 px-6 py-2 text-xs mr-4 focus:ring-2 focus:ring-offset-2 focus:ring-gray-700">Cancel</button>
                    <button id="btnSaveProjectStep-1" onclick="fnSaveProjectStep(1)" role="button" aria-label="Save form" class="focus:ring-2 focus:ring-offset-2 focus:ring-indigo-700 bg-indigo-700 focus:outline-none transition duration-150 ease-in-out hover:bg-indigo-600 rounded text-white px-8 py-2 text-sm">Save</button>
                </div>
            </div>
        </div>
        <!-- ===== Configure Step End ===== -->

        <!-- ===== Configure Step Start ===== -->
        <div class="bg-white dark:bg-gray-800 px-10 py-6 mt-6" data-step-index="2">
            <div class="container bg-white dark:bg-gray-800 rounded">
                <div class="xl:w-full border-b border-gray-300 dark:border-gray-700 py-5 bg-white dark:bg-gray-800">
                    <div class="flex w-11/12 w-full mx-0 items-center">
                        <p class="text-lg text-gray-800 dark:text-gray-100 font-bold">Build step - 2. 빌드 수행 </p>
                        <div class="ml-2 cursor-pointer text-gray-600 dark:text-gray-400">
                            <img class="dark:hidden" src="https://tuk-cdn.s3.amazonaws.com/can-uploader/simple_form-svg4.svg" alt="info">
                            <img class="dark:block hidden" src="https://tuk-cdn.s3.amazonaws.com/can-uploader/simple_form-svg4dark.svg" alt="info">
                        </div>
                        <div class="ml-auto">
                            <div class="toggle-container w-16 h-6 flex items-center bg-gray-300 rounded-full p-1 duration-300 ease-in-out cursor-pointer">
                                <div class="toggle-circle bg-white w-6 h-6 rounded-full shadow-md transform duration-300 ease-in-out"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="w-full">
                    <div class="w-full xl:mx-0">
                        <div class="mt-8 flex flex-col w-full">
                            <label for="projectConfigure-stepType-2" class="pb-2 text-sm font-bold text-gray-800 dark:text-gray-100">Step type (유형)</label>
                            <div class="relative inline-block w-full">
                                <select id="projectConfigure-stepType-2" class="appearance-none border border-gray-300 dark:border-gray-700 pl-3 pr-10 py-3 shadow-sm rounded text-sm focus:outline-none focus:border-indigo-700 bg-transparent placeholder-gray-500 text-gray-600 dark:text-gray-400 w-full" disabled>
                                    <option value="SCM">1. SCM</option>
                                    <option value="BUILD" selected>2. BUILD</option>
                                    <option value="DEPLOY">3. DEPLOY</option>
                                    <option value="COMMAND">4. COMMAND</option>
                                </select>
                                <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-600">
                                    <svg class="w-4 h-4 fill-current" viewBox="0 0 20 20">
                                        <path d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414L10 13.414l-4.707-4.707a1 1 0 010-1.414z" clip-rule="evenodd" fill-rule="evenodd"></path>
                                    </svg>
                                </div>
                            </div>
                        </div>
                        <div class="mt-8 flex flex-col w-full">
                            <label for="projectConfigure-buildType" class="pb-2 text-sm font-bold text-gray-800 dark:text-gray-100">Build type (빌드 유형)</label>
                            <div class="relative inline-block w-full">
                                <select id="projectConfigure-buildType" class="appearance-none border border-gray-300 dark:border-gray-700 pl-3 pr-10 py-3 shadow-sm rounded text-sm focus:outline-none focus:border-indigo-700 bg-transparent placeholder-gray-500 text-gray-600 dark:text-gray-400 w-full">
                                    <option value="MAVEN">MAVEN</option>
                                    <option value="GRADLE">GRADLE</option>
                                </select>
                                <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-600">
                                    <svg class="w-4 h-4 fill-current" viewBox="0 0 20 20">
                                        <path d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414L10 13.414l-4.707-4.707a1 1 0 010-1.414z" clip-rule="evenodd" fill-rule="evenodd"></path>
                                    </svg>
                                </div>
                            </div>
                        </div>
                        <div class="mt-8 flex flex-col w-full">
                            <label for="projectConfigure-isTest" class="pb-2 text-sm font-bold text-gray-800 dark:text-gray-100">Test (테스트 수행 여부)</label>
                            <div class="relative inline-block w-full">
                                <select id="projectConfigure-isTest" class="appearance-none border border-gray-300 dark:border-gray-700 pl-3 pr-10 py-3 shadow-sm rounded text-sm focus:outline-none focus:border-indigo-700 bg-transparent placeholder-gray-500 text-gray-600 dark:text-gray-400 w-full">
                                    <option value="true">true</option>
                                    <option value="false" selected>false</option>
                                </select>
                                <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-600">
                                    <svg class="w-4 h-4 fill-current" viewBox="0 0 20 20">
                                        <path d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414L10 13.414l-4.707-4.707a1 1 0 010-1.414z" clip-rule="evenodd" fill-rule="evenodd"></path>
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container w-full mt-6">
                <div class="w-full py-4 sm:px-0 bg-white dark:bg-gray-800 flex justify-end">
                    <button role="button" aria-label="cancel form" class="bg-gray-200 focus:outline-none transition duration-150 ease-in-out hover:bg-gray-300 dark:bg-gray-700 rounded text-indigo-600 dark:text-indigo-600 px-6 py-2 text-xs mr-4 focus:ring-2 focus:ring-offset-2 focus:ring-gray-700">Cancel</button>
                    <button id="btnSaveProjectStep-2" onclick="fnSaveProjectStep(2)" role="button" aria-label="Save form" class="focus:ring-2 focus:ring-offset-2 focus:ring-indigo-700 bg-indigo-700 focus:outline-none transition duration-150 ease-in-out hover:bg-indigo-600 rounded text-white px-8 py-2 text-sm">Save</button>
                </div>
            </div>
        </div>
        <!-- ===== Configure Step End ===== -->

        <!-- ===== Configure Step Start ===== -->
        <div class="bg-white dark:bg-gray-800 px-10 py-6 mt-6" data-step-index="3">
            <div class="container bg-white dark:bg-gray-800 rounded">
                <div class="xl:w-full border-b border-gray-300 dark:border-gray-700 py-5 bg-white dark:bg-gray-800">
                    <div class="flex w-11/12 w-full mx-0 items-center">
                        <p class="text-lg text-gray-800 dark:text-gray-100 font-bold">Build step - 3. 배포 수행 </p>
                        <div class="ml-2 cursor-pointer text-gray-600 dark:text-gray-400">
                            <img class="dark:hidden" src="https://tuk-cdn.s3.amazonaws.com/can-uploader/simple_form-svg4.svg" alt="info">
                            <img class="dark:block hidden" src="https://tuk-cdn.s3.amazonaws.com/can-uploader/simple_form-svg4dark.svg" alt="info">
                        </div>
                        <div class="ml-auto">
                            <div class="toggle-container w-16 h-6 flex items-center bg-gray-300 rounded-full p-1 duration-300 ease-in-out cursor-pointer">
                                <div class="toggle-circle bg-white w-6 h-6 rounded-full shadow-md transform duration-300 ease-in-out"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="w-full">
                    <div class="w-full xl:mx-0">
                        <div class="mt-8 flex flex-col w-full">
                            <label for="projectConfigure-stepType-3" class="pb-2 text-sm font-bold text-gray-800 dark:text-gray-100">Step type (유형)</label>
                            <div class="relative inline-block w-full">
                                <select id="projectConfigure-stepType-3" class="appearance-none border border-gray-300 dark:border-gray-700 pl-3 pr-10 py-3 shadow-sm rounded text-sm focus:outline-none focus:border-indigo-700 bg-transparent placeholder-gray-500 text-gray-600 dark:text-gray-400 w-full" disabled>
                                    <option value="SCM">1. SCM</option>
                                    <option value="BUILD">2. BUILD</option>
                                    <option value="DEPLOY" selected>3. DEPLOY</option>
                                    <option value="COMMAND">4. COMMAND</option>
                                </select>
                                <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-600">
                                    <svg class="w-4 h-4 fill-current" viewBox="0 0 20 20">
                                        <path d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414L10 13.414l-4.707-4.707a1 1 0 010-1.414z" clip-rule="evenodd" fill-rule="evenodd"></path>
                                    </svg>
                                </div>
                            </div>
                        </div>
                        <div class="mt-8 flex flex-col w-full">
                            <label for="projectConfigure-scm" class="pb-2 text-sm font-bold text-gray-800 dark:text-gray-100">Target Credential (원격지 인증정보)</label>
                            <div class="relative inline-block w-full">
                                <select id="projectConfigure-credential" class="appearance-none border border-gray-300 dark:border-gray-700 pl-3 pr-10 py-3 shadow-sm rounded text-sm focus:outline-none focus:border-indigo-700 bg-transparent placeholder-gray-500 text-gray-600 dark:text-gray-400 w-full">
                                    <option value="SVN">1</option>
                                </select>
                                <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-600">
                                    <svg class="w-4 h-4 fill-current" viewBox="0 0 20 20">
                                        <path d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414L10 13.414l-4.707-4.707a1 1 0 010-1.414z" clip-rule="evenodd" fill-rule="evenodd"></path>
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container w-full mt-6">
                <div class="w-full py-4 sm:px-0 bg-white dark:bg-gray-800 flex justify-end">
                    <button role="button" aria-label="cancel form" class="bg-gray-200 focus:outline-none transition duration-150 ease-in-out hover:bg-gray-300 dark:bg-gray-700 rounded text-indigo-600 dark:text-indigo-600 px-6 py-2 text-xs mr-4 focus:ring-2 focus:ring-offset-2 focus:ring-gray-700">Cancel</button>
                    <button id="btnSaveProjectStep-3" onclick="fnSaveProjectStep(3)" role="button" aria-label="Save form" class="focus:ring-2 focus:ring-offset-2 focus:ring-indigo-700 bg-indigo-700 focus:outline-none transition duration-150 ease-in-out hover:bg-indigo-600 rounded text-white px-8 py-2 text-sm">Save</button>
                </div>
            </div>
        </div>
        <!-- ===== Configure Step End ===== -->


        <!-- ===== Configure Step Start ===== -->
        <div class="bg-white dark:bg-gray-800 px-10 py-6 mt-6" data-step-index="4">
            <div class="container bg-white dark:bg-gray-800 rounded">
                <div class="xl:w-full border-b border-gray-300 dark:border-gray-700 py-5 bg-white dark:bg-gray-800">
                    <div class="flex w-11/12 w-full mx-0 items-center">
                        <p class="text-lg text-gray-800 dark:text-gray-100 font-bold">Build step - 4. 배포 후 처리 </p>
                        <div class="ml-2 cursor-pointer text-gray-600 dark:text-gray-400">
                            <img class="dark:hidden" src="https://tuk-cdn.s3.amazonaws.com/can-uploader/simple_form-svg4.svg" alt="info">
                            <img class="dark:block hidden" src="https://tuk-cdn.s3.amazonaws.com/can-uploader/simple_form-svg4dark.svg" alt="info">
                        </div>
                        <div class="ml-auto">
                            <div class="toggle-container w-16 h-6 flex items-center bg-gray-300 rounded-full p-1 duration-300 ease-in-out cursor-pointer">
                                <div class="toggle-circle bg-white w-6 h-6 rounded-full shadow-md transform duration-300 ease-in-out"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="w-full">
                    <div class="w-full xl:mx-0">
                        <div class="mt-8 flex flex-col w-full">
                            <label for="projectConfigure-stepType-4" class="pb-2 text-sm font-bold text-gray-800 dark:text-gray-100">Step type (유형)</label>
                            <div class="relative inline-block w-full">
                                <select id="projectConfigure-stepType-4" class="appearance-none border border-gray-300 dark:border-gray-700 pl-3 pr-10 py-3 shadow-sm rounded text-sm focus:outline-none focus:border-indigo-700 bg-transparent placeholder-gray-500 text-gray-600 dark:text-gray-400 w-full" disabled>
                                    <option value="SCM">1. SCM</option>
                                    <option value="BUILD">2. BUILD</option>
                                    <option value="DEPLOY">3. DEPLOY</option>
                                    <option value="COMMAND" selected>4. COMMAND</option>
                                </select>
                                <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-600">
                                    <svg class="w-4 h-4 fill-current" viewBox="0 0 20 20">
                                        <path d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414L10 13.414l-4.707-4.707a1 1 0 010-1.414z" clip-rule="evenodd" fill-rule="evenodd"></path>
                                    </svg>
                                </div>
                            </div>
                        </div>
                        <div class="mt-8 flex flex-col w-full">
                            <label for="projectConfigure-command" class="pb-2 text-sm font-bold text-gray-800 dark:text-gray-100">Command Shell(명령어)</label>
                            <textarea id="projectConfigure-command" name="projectConfigure-command" required class="bg-transparent border border-gray-300 dark:border-gray-700 pl-3 py-3 shadow-sm rounded text-sm focus:outline-none focus:border-indigo-700 resize-none placeholder-gray-500 text-gray-600 dark:text-gray-400" placeholder="Let the world know who you are" rows="5"></textarea>
                            <p class="w-full text-right text-xs pt-1 text-gray-600 dark:text-gray-400">Character Limit: 200</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container w-full mt-6">
                <div class="w-full py-4 sm:px-0 bg-white dark:bg-gray-800 flex justify-end">
                    <button role="button" aria-label="cancel form" class="bg-gray-200 focus:outline-none transition duration-150 ease-in-out hover:bg-gray-300 dark:bg-gray-700 rounded text-indigo-600 dark:text-indigo-600 px-6 py-2 text-xs mr-4 focus:ring-2 focus:ring-offset-2 focus:ring-gray-700">Cancel</button>
                    <button id="btnSaveProjectStep-4" onclick="fnSaveProjectStep(4)" role="button" aria-label="Save form" class="focus:ring-2 focus:ring-offset-2 focus:ring-indigo-700 bg-indigo-700 focus:outline-none transition duration-150 ease-in-out hover:bg-indigo-600 rounded text-white px-8 py-2 text-sm">Save</button>
                </div>
            </div>
        </div>
        <!-- ===== Configure Step End ===== -->




        <script th:src="@{/js/projectConfigure.js}"></script>
        <script>
            $(document).ready(function() {

                // SCM 조회
                fnGetScmConfigs()
                    .then(data => {
                        fnSetScmConfigs(data);
                    })

                // Credential 조회
                fnGetCredentials()
                    .then(data => {
                        fnSetCredentials(data);
                    })


                // Project 정보 조회
                fnSearchProject($('#project-id').val())
                    .then(data => {
                        fnSetProjectInfo(data);

                        if (data.steps.length > 0) {
                            fnSetStepInfo(data.steps);
                        }
                    })


            });
        </script>

    </th:block>

</html>