<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

    <th:block th:replace="~{/layout/fragments/head :: headFragment}"></th:block>
    <body>
        <!-- ===== Navbar Start ===== -->
        <th:block th:replace="~{/layout/fragments/navbar :: navbarFragment}"></th:block>
        <!-- ===== Navbar End ===== -->

        <!-- ===== Page Wrapper Start ===== -->
        <div class="h-screen flex flex-row">

            <!-- ===== Sidebar Start ===== -->
            <th:block th:replace="~{/layout/fragments/sidebar :: sidebarFragment}"></th:block>
            <!-- ===== Sidebar End ===== -->

            <!-- ===== Content Area Start ===== -->
            <div class="bg-gray-100 flex-1 p-6 md:mt-20">
                <!-- ===== Main Content Start ===== -->
                <th:block layout:fragment="content"></th:block>
                <!-- ===== Main Content End ===== -->
            </div>
            <!-- ===== Content Area End ===== -->

            <!-- ===== Toast Start ===== -->
            <th:block th:replace="~{toast :: toastFragment}"></th:block>
            <!-- ===== Toast End ===== -->

            <!-- ===== Modal Start ===== -->
            <th:block th:replace="~{modal :: modalFragment}"></th:block>
            <!-- ===== Modal End ===== -->

        </div>
        <!-- ===== Page Wrapper End ===== -->



        <!-- ===== Common Script Start===== -->
        <script>

            // password show/hide toggle
            $('.js-password-toggle').change(function() {
                var container = $(this).closest('.toggle-password-container');
                var passwordInput = container.find('input.js-password');
                var eyeIcon = container.find('i');

                if ($(this).is(':checked')) {
                    passwordInput.attr('type', 'text');
                    eyeIcon.removeClass('fa-eye').addClass('fa-eye-slash');
                } else {
                    passwordInput.attr('type', 'password');
                    eyeIcon.removeClass('fa-eye-slash').addClass('fa-eye');
                }
            });
        </script>
        <!-- ===== Common Script End===== -->

        <!-- ===== Page Script Start===== -->
        <th:block layout:fragment="script"></th:block>
        <!-- ===== Page Script End===== -->
    </body>
</html>