<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

    <th:block layout:fragment="content">

        <div class="bg-white dark:bg-gray-800 px-10 py-6">
            <div class="container bg-white dark:bg-gray-800 rounded">
                <div class="xl:w-full border-b border-gray-300 dark:border-gray-700 py-5 bg-white dark:bg-gray-800">
                    <div class="flex w-11/12 w-full mx-0 items-center">
                        <p class="text-lg text-gray-800 dark:text-gray-100 font-bold">Credential</p>
                        <div class="ml-2 cursor-pointer text-gray-600 dark:text-gray-400">
                            <img class="dark:hidden" src="https://tuk-cdn.s3.amazonaws.com/can-uploader/simple_form-svg4.svg" alt="info">
                            <img class="dark:block hidden" src="https://tuk-cdn.s3.amazonaws.com/can-uploader/simple_form-svg4dark.svg" alt="info">
                        </div>
                    </div>
                </div>
                <div class="w-full">
                    <div class="w-full xl:mx-0">
                        <div class="rounded relative w-full mt-8 h-48">
                            <img th:src="@{/img/banner/credential-banner.png}" alt="" class="w-full h-full object-cover rounded absolute shadow" />
                            <div class="absolute bg-black opacity-50 top-0 right-0 bottom-0 left-0 rounded"></div>
                            <div class="flex items-center px-3 py-2 rounded absolute right-0 mr-4 mt-4 cursor-pointer">
                                <p class="text-xs text-gray-100">Change Cover Photo</p>
                                <div class="ml-2 text-gray-100">
                                    <img src="https://tuk-cdn.s3.amazonaws.com/can-uploader/simple_form-svg1.svg" alt="Edit">
                                </div>
                            </div>
                        </div>
                        <div class="space-y-8 mt-8">
                            <div class="flex flex-col w-full">
                                <label for="credential-identifierName" class="pb-2 text-sm font-bold text-gray-800 dark:text-gray-100">Identifier (식별이름)</label>
                                <input tabindex="0" type="text" id="credential-identifierName" name="credential-identifierName" required class="border border-gray-300 dark:border-gray-700 pl-3 py-3 shadow-sm rounded text-sm focus:outline-none focus:border-indigo-700 bg-transparent placeholder-gray-500 text-gray-600 dark:text-gray-400" placeholder="@example"/>
                            </div>
                            <div class="flex flex-col w-full">
                                <label for="credential-username" class="pb-2 text-sm font-bold text-gray-800 dark:text-gray-100">Target Username (원격지 계정)</label>
                                <input tabindex="0" type="text" id="credential-username" name="credential-username" required class="border border-gray-300 dark:border-gray-700 pl-3 py-3 shadow-sm rounded text-sm focus:outline-none focus:border-indigo-700 bg-transparent placeholder-gray-500 text-gray-600 dark:text-gray-400" placeholder="@example" />
                            </div>
                            <div class="flex flex-col w-full">
                                <label for="credential-password" class="pb-2 text-sm font-bold text-gray-800 dark:text-gray-100">Target Password (원격지 비밀번호)</label>
                                <input tabindex="0" type="password" id="credential-password" name="credential-password" required class="border border-gray-300 dark:border-gray-700 pl-3 py-3 shadow-sm rounded text-sm focus:outline-none focus:border-indigo-700 bg-transparent placeholder-gray-500 text-gray-600 dark:text-gray-400" placeholder="@example" />
                            </div>
                            <div class="flex flex-col w-full">
                                <label for="credential-host" class="pb-2 text-sm font-bold text-gray-800 dark:text-gray-100">Target Host (원격지 호스트)</label>
                                <input tabindex="0" type="text" id="credential-host" name="credential-host" required class="border border-gray-300 dark:border-gray-700 pl-3 py-3 shadow-sm rounded text-sm focus:outline-none focus:border-indigo-700 bg-transparent placeholder-gray-500 text-gray-600 dark:text-gray-400" placeholder="@example" />
                            </div>
                            <div class="flex flex-col w-full">
                                <label for="credential-port" class="pb-2 text-sm font-bold text-gray-800 dark:text-gray-100">Target Port (원격지 포트)</label>
                                <input tabindex="0" type="text" id="credential-port" name="credential-port" required class="border border-gray-300 dark:border-gray-700 pl-3 py-3 shadow-sm rounded text-sm focus:outline-none focus:border-indigo-700 bg-transparent placeholder-gray-500 text-gray-600 dark:text-gray-400" placeholder="@example" />
                            </div>
                            <div class="flex flex-col w-full">
                                <label for="credential-privateKey" class="pb-2 text-sm font-bold text-gray-800 dark:text-gray-100">Private key (인증키)</label>
                                <textarea id="credential-privateKey" name="credential-privateKey" required class="bg-transparent border border-gray-300 dark:border-gray-700 pl-3 py-3 shadow-sm rounded text-sm focus:outline-none focus:border-indigo-700 resize-none placeholder-gray-500 text-gray-600 dark:text-gray-400" placeholder="private key content" rows="5"></textarea>
                            </div>
                            <div class="flex flex-col w-full">
                                <label for="credential-passphrase" class="pb-2 text-sm font-bold text-gray-800 dark:text-gray-100">Passphrase (인증키 비밀번호)</label>
                                <input tabindex="0" type="text" id="credential-passphrase" name="credential-passphrase" required class="border border-gray-300 dark:border-gray-700 pl-3 py-3 shadow-sm rounded text-sm focus:outline-none focus:border-indigo-700 bg-transparent placeholder-gray-500 text-gray-600 dark:text-gray-400" placeholder="@example" />
                            </div>
                            <div class="flex flex-col w-full">
                                <label for="credential-description" class="pb-2 text-sm font-bold text-gray-800 dark:text-gray-100">Description</label>
                                <textarea id="credential-description" name="credential-description" required class="bg-transparent border border-gray-300 dark:border-gray-700 pl-3 py-3 shadow-sm rounded text-sm focus:outline-none focus:border-indigo-700 resize-none placeholder-gray-500 text-gray-600 dark:text-gray-400" placeholder="description" rows="5"></textarea>
                                <p class="w-full text-right text-xs pt-1 text-gray-600 dark:text-gray-400">Character Limit: 200</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container w-full mt-6">
                <div class="w-full py-4 sm:px-0 bg-white dark:bg-gray-800 flex justify-end">
                    <button id="btnCancelCredential" role="button" aria-label="cancel form" class="bg-gray-200 focus:outline-none transition duration-150 ease-in-out hover:bg-gray-300 dark:bg-gray-700 rounded text-indigo-600 dark:text-indigo-600 px-6 py-2 text-xs mr-4 focus:ring-2 focus:ring-offset-2 focus:ring-gray-700">Cancel</button>
                    <button id="btnSaveCredential" role="button" aria-label="Save form" class="focus:ring-2 focus:ring-offset-2 focus:ring-indigo-700 bg-indigo-700 focus:outline-none transition duration-150 ease-in-out hover:bg-indigo-600 rounded text-white px-8 py-2 text-sm">Save</button>
                </div>
            </div>
        </div>

        <!-- script -->
        <script th:src="@{/js/credential.js}"></script>
        <script>
            $(document).ready(function() {
            });
        </script>


    </th:block>

</html>