<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

    <th:block layout:fragment="content">
        <div class="bg-white dark:bg-gray-800 px-10 py-6">
            <!-- Page Header Start -->
            <div class="container bg-white dark:bg-gray-800 rounded">
                <div class="xl:w-full border-b border-gray-300 dark:border-gray-700 py-3 bg-white dark:bg-gray-800 pb-5">
                    <div class="flex w-11/12 w-full mx-0 items-center mb-3">
                        <p class="text-2xl text-gray-800 dark:text-gray-100 font-bold">
                            <i class="fad fa-users-cog mr-2"></i>SCM Configs
                        </p>
                        <div class="ml-2 cursor-pointer text-gray-600 dark:text-gray-400">
                            <img class="dark:hidden" src="https://tuk-cdn.s3.amazonaws.com/can-uploader/simple_form-svg4.svg" alt="info">
                            <img class="dark:block hidden" src="https://tuk-cdn.s3.amazonaws.com/can-uploader/simple_form-svg4dark.svg" alt="info">
                        </div>
                    </div>
                    <p>Use cleopatra custom alerts styles for actions , notifcations etc.</p>
                    <p>so far there's just 3 type of alerts feel free to submit a pull request</p>
                </div>
            </div>
            <!-- Page Header End -->

            <!-- Page Content Start -->


            <section class="py-1 bg-gray-50">
                <div class="w-full mb-12 xl:mb-0 mx-auto mt-5">
                    <div class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded ">
                        <div class="rounded-t mb-0 px-4 py-3 border-0">
                            <div class="flex flex-wrap items-center">
                                <div class="relative w-full px-4 max-w-full flex-grow flex-1">
<!--                                    <h3 class="font-semibold text-base text-gray-700">Credential List</h3>-->
                                </div>
                                <div class="relative w-full max-w-full flex-grow flex-1 text-right">
                                    <button id="btnSearchScmConfig" class="bg-green-500 text-white active:bg-indigo-600 text-xs font-bold uppercase px-4 py-1 rounded outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150" type="button">
                                        <i class="fad fa-search mr-2 custom-after-opacity"></i>
                                        조회
                                    </button>
                                    <button id="btnAddScmConfig" class="bg-indigo-500 text-white active:bg-indigo-600 text-xs font-bold uppercase px-4 py-1 rounded outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150" type="button">
                                        <i class="fad fa-plus mr-2 custom-after-opacity"></i>
                                        추가
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div class="block w-full overflow-x-auto">
                            <div id="grid" class="w-full"></div>
                        </div>
                    </div>
                </div>
                <footer class="relative pt-8 pb-6 mt-16">

    <!--                <div class="container mx-auto px-4">-->
    <!--                    <div class="flex flex-wrap items-center md:justify-between justify-center">-->
    <!--                        <div class="w-full md:w-6/12 px-4 mx-auto text-center">-->
    <!--                            <div class="text-sm text-gray-500 font-semibold py-1">-->
    <!--                                Made with <a href="https://www.creative-tim.com/product/notus-js" class="text-gray-500 hover:text-gray-800" target="_blank">Notus JS</a> by <a href="https://www.creative-tim.com" class="text-gray-500 hover:text-gray-800" target="_blank"> Creative Tim</a>.-->
    <!--                            </div>-->
    <!--                        </div>-->
    <!--                    </div>-->
    <!--                </div>-->
                </footer>
            </section>
        </div>



        <script th:src="@{/js/scmConfigs.js}"></script>
        <script>
            $(document).ready(function() {
                if (localStorage.getItem('toastType')) {
                    gfnShowToast(localStorage.getItem('toastType'), localStorage.getItem('toastMessage'));
                }
            });

            const grid = new tui.Grid({
                el: document.getElementById('grid'),
                scrollX: false,
                scrollY: false,
                rowHeaders: ['rowNum'],
                minBodyHeight: 500,
                header: {
                    align: 'left',
                    height: 35,
                },
                pageOptions: {
                    perPage: 10
                },
                columns: [
                    {name: 'id', header: 'id', hidden: 1},
                    {name: 'type', header: '유형', sortable: true, width: 100},
                    {name: 'url', header: 'url', sortable: true, width: 400},
                    {name: 'username', header: '계정', sortable: true},
                    {name: 'branch', header: '브랜치', sortable: true},
                    {
                        name: 'isConnected', header: '연결상태', sortable: true,
                        renderer: {
                            type: CustomConnectStatusRenderer,
                        }
                    }
                ],
                contextMenu: ({ rowKey, columnName }) => [
                    [
                        {
                            name: 'actions',
                            label: 'Actions',
                            subMenu: [
                                {
                                    name: 'edit',
                                    label: 'Edit',
                                    action: () => {
                                        let id = grid.getValue(rowKey, 'id');
                                        window.location.href = "/app/view/settings/scmConfig-edit?id="+id;

                                    },
                                },
                                {
                                    name: 'delete',
                                    label: 'Delete',
                                    action: () => {
                                        console.log("delete")
                                    },
                                },
                            ],
                        },
                    ],
                ],
                data: {
                    contentType: 'application/json',
                    api: {
                        readData: { url: '/api/scmConfig', method: 'GET' }
                    }
                },
            });

        </script>

    </th:block>

</html>